.head1 {
  margin: 0px 0px 5px 180px;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.head1:hover {
  color: #ff00e5;
}

.head2 {
  margin: 0px 0px 5px 100px;
  font-size: 1rem;
  font-weight: bold;
}

.head2:hover {
  color: #ff00e5;
}